{% extends '../accounts/base.html' %}


{% block form %}

<div class="card text-white bg-info mx-auto mt-5" style="max-width: 20rem;">
  <div class="card-header text-center" style="font-size: 2em">Logout</div>
  <div class="card-body mx-auto ">
    <h4 class="card-title">Do you wish to Logout?</h4>
      <p class="text-center">Currently Logged in as <strong>{{request.user}}</strong></p>
        <form method="POST">
        {% csrf_token %}
            <a href = "{% url 'accounts:home' %}" class="btn btn-secondary ml-4" >Cancel</a>
            <button type="submit" class="btn btn-danger ml-5" >Logout</button>
        </form>
  </div>
</div>


{% endblock form %}