{% extends '../accounts/base.html' %}


{% block form %}



<form method="POST">
    {% csrf_token %}
  <fieldset>
    <legend >Login</legend>
    <div class="form-group">
      <label for="exampleInputEmail1">Username</label>
      <input type="text" name="username" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter username">
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input type="password" name="password" class="form-control" id="exampleInputPassword1" placeholder="Password" >
    </div>
    <button type="submit" class="btn btn-primary" >Login</button>
  </fieldset>
</form>
<div class="mt-4 h4">
  <p class="text-info d-inline">Don't have an account? <a href="{% url 'accounts:sign-up' %}">Sign Up</a></p>
</div>

{% endblock form %}
<!--
<form method="post">
    {% csrf_token %}
    {{form.as_p}}
    <input type="submit" value="Login">
</form>
<a href="{% url 'sign-up' %}">Sign Up</a>-->
